.about {
  padding-top: 100px;
}
.about__row {
  display: flex;
}
.drives__us {
  margin-left: 30px;
}
.textEvent__about > h2 {
  font-weight: 400;
  font-size: 50px;
  text-transform: uppercase;
  font-family: var(--firstfont);
  line-height: 75px;
  color: var(--titleColor);
}
.rebuilding__title {
  margin-top: 20px;
}
.rebuilding__title > h2 {
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  font-family: var(--firstfont);
  line-height: 35px;
  color: var(--titleColor);
}
.rebuilding__text {
  margin-top: 20px;
}
.rebuilding__text > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--textColor);
  font-family: var(--secondfont);
}
.rebuilding__row__img {
  margin-top: 50px;
  display: flex;
}
.rebuilding__left__img > img {
  max-width: 100%;
}
.rebuilding__right__img {
  margin-left: 30px;
}
.rebuilding__right__img > img {
  max-width: 100%;
}
.drivers__us__title {
  margin-top: 20px;
}
.drivers__us__title > h2 {
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  font-family: var(--firstfont);
  line-height: 35px;
  color: var(--titleColor);
}
.drivers__us__text {
  margin-top: 20px;
}
.drivers__us__text > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--textColor);
  font-family: var(--secondfont);
}
.drivers__us__img {
  margin-top: 10px;
}
.drivers__us__img > img {
  max-width: 82.7%;
}
