@media (max-width: 1240px) {
  .header__menu {
    display: flex;
  }
  .header__menu > li {
    padding-right: 10px;
  }
  .header__menu > li:nth-child(4) {
    padding-right: 0px;
  }
  .header__tel {
    margin-left: 1%;
  }
  .header__tel > a {
    font-size: 14px;
  }
}
@media (max-width: 1201px) {
  .header__logo {
    padding-right: 30px;
  }
  .headerTop__row {
    justify-content: center;
  }
  .headerEvent__Text {
    text-align: center;
  }
  .headerBurning__text {
    text-align: center;
  }
  .headerBurning__text > h3 {
    font-size: 75px;
  }
  .btn__header {
    margin-top: 30px;
    text-align: center;
  }
  .textEvent__about {
    text-align: center;
  }
  .rebuilding__title {
    text-align: center;
  }
  .about__row {
    display: block;
  }
  .drives__us {
    margin-left: 0px;
  }
  .rebuilding__text {
    display: flex;
    justify-content: center;
  }
  .rebuilding__text > p {
    max-width: 600px;
  }
  .rebuilding__row__img {
    justify-content: center;
  }
  .drivers__us__title {
    text-align: center;
  }
  .drivers__us__text {
    display: flex;
    justify-content: center;
  }
  .drivers__us__text > p {
    max-width: 600px;
  }
  .drivers__us__img {
    text-align: center;
  }
  .footer__row {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .headerBurning__text > h3 {
    font-size: 65px;
  }
  .textEvent__about > h2 {
    font-size: 45px;
  }
}
@media (max-width: 628px) {
  .rebuilding__text {
    display: flex;
    justify-content: center;
  }
  .rebuilding__text > p {
    max-width: 450px;
  }
  .drivers__us__text {
    display: flex;
    justify-content: center;
  }
  .drivers__us__text > p {
    max-width: 450px;
  }
  .rebuilding__row__img {
    display: block;
  }
  .rebuilding__right__img {
    text-align: center;
    margin-left: 0px;
  }
  .rebuilding__left__img {
    text-align: center;
  }
}
@media (max-width: 510px) {
  .header__logo,
  .header__menu,
  .header__tel {
    display: none;
  }
  .burger__btn {
    position: fixed;
    top: 10%;
    left: auto;
    right: 0;
    bottom: 0;
    display: block;
    margin-left: auto;
    z-index: 99;
  }
  .header__mobile__menu,
  .header__tel__mobile,
  .header__mobile__logo {
    display: block;
  }
  .footer__row {
    display: block;
  }
  .footer__date {
    display: flex;
    justify-content: center;
  }
  .footer__naming {
    display: flex;
    justify-content: center;
    margin-left: 0px;
  }
  .headerBurning__text > h3 {
    font-size: 55px;
  }
  .textEvent__about > h2 {
    font-size: 35px;
  }
  .rebuilding__text > p {
    max-width: 350px;
  }
  .drivers__us__text > p {
    max-width: 350px;
  }
  .rebuilding__title > h2 {
    font-size: 20px;
  }
  .drivers__us__title > h2 {
    font-size: 20px;
  }
  .header {
    background-size: cover;
    background-position: left;
  }
}
@media (max-width: 450px) {
  .headerEvent__Text > h2 {
    font-size: 25px;
  }
  .headerBurning__text > h3 {
    font-size: 45px;
  }
  .btn__header > a {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .rebuilding__title > h2 {
    font-size: 20px;
  }
  .drivers__us__title > h2 {
    font-size: 20px;
  }
}
@media (max-width: 391px) {
  .rebuilding__text > p {
    max-width: 200px;
    font-size: 14px ;
  }
  .drivers__us__text > p {
    max-width: 200px;
    font-size: 14px;
  }
}
